{% extends 'base.html.twig' %}

{% block title %}{{  'author.new.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{  'author.new.h1' | trans }}</h1>

    {{ include('author/_form.html.twig') }}

    <a href="{{ path('author_index') }}">{{  'author.new.a' | trans }}</a>
{% endblock %}
