{% extends 'base.html.twig' %}

{% block title %}{{ 'article.index' | trans }}{% endblock %}

{% block body %}

    <section class="newsFeed">

    {% for article in articles %}

        <article>

            <h2><a href="{{ path('show_article', {id: article.id}) }}">{{ article.title }}</a></h2>

            <p>[{{ article.createdAt | date('d/m/Y')}}] {{ article.content }}</p>

        </article>

    {% endfor %}

    </section>

{% endblock %}
