{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

    <section class="showArticle">

        <article>

            <h2>{{ article.title }}</h2>

            <small>[{{ 'article.show.body.small' | trans }} {{ article.createdAt | date('d/m/Y')}} / {{ 'article.show.body.small2' | trans }} {{ article.updatedAt | date('d/m/Y') }}] </small>

            <p>{{ article.content }}</p>

        </article>

         <div class="articleTools">
             {%  if is_granted('ROLE_ADMIN') %}
            <a class="linkEdit" href="{{ path('edit_article' , { id: article.id }) }}"><i class="fas fa-pencil-alt"></i> Edit</a>
             {{ form_start(delete_form) }}
             <input class="linkDelete" type="submit" value="Delete">
             {{ form_end(delete_form) }}
             {%  endif %}


         </div>

    </section>

{% endblock %}
